.blog {
  width: 100%;
}

.article {
  width: 100%;
}

.mainTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 120%;
  color: #323142;
  margin-top: 95px;
  margin-bottom: 75px;
  text-align: center;
}

.colored {
  color: #6C5FBC;
}

.container {
  margin: 0 120px;
  min-height: 400px;
  position: relative;
}

.list {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 60px;
  margin-bottom: 65px;
}
