.orderWindow {
  width: 329px;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  
  @media (max-width: 992px) {
    width: 100%;
    border: 1px solid #e8e8e8;
  }
}

.orderImageWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
}

.smallImage {
  margin-left: 17px;
  margin-top: 10px;
}

.orderDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  height: 100%;
}

.orderTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 140%;
  color: #323142;
  transform: translateY(-9px);

  @media (max-width: 992px) {
    font-size: 12px;
  }
}

.orderStatus {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 9px;
  line-height: 140%;
  color: #323142;
}

.timeWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
}

.orderTime {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  color: #acadb9;
  margin-right: 29px;
  margin-bottom: 13px;
}
