.fastLink {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding: 18px 30px;
  border: 1px solid #6C5FBC;
  border-radius: 12px;
  text-decoration: none;
  margin-right: 16px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }

  &:last-child {
    margin-right: 0;
  }
}