.reviews {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  padding: 77px 100px 70px 115px;
  overflow: hidden;

  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 20px;
    overflow: hidden;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 57%;
  color: #000;
  text-align: center;
  margin-top: 119px;
  letter-spacing: -3px;

  span {
    color: #6C5FBC;
  }

  @media (max-width: 992px) {
    font-size: 30px;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

.fullReview {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-right: 44px;

  @media (max-width: 992px) {
    width: 90%;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

.shortReviews {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: 992px) {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
  }
}

.progressBar {
  margin-left: 1px;
  width: 60%;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;

  @media (max-width: 992px) {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 75%;
    margin-bottom: 40px;
    margin-top: 55px;
  }
}