.reviews {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: 77px 0 70px 115px;

  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 20px;
    overflow: hidden;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 57%;
  color: #000;
  text-align: center;
  margin-top: 119px;
  letter-spacing: -3px;

  span {
    color: #6C5FBC;
  }

  @media (max-width: 992px) {
    font-size: 30px;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

.fullReview {
  grid-column: 1/2;
  grid-row: 1/4;
  margin-right: 44px;

  @media (max-width: 992px) {
    width: 90%;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-right: 0;
    margin-bottom: 20px;
  }
}


.shortReviewsList {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(5, 500px);
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 30px;
  height: 160px;

  //Scrollbar
  &::-webkit-scrollbar {
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #CECCDE;
    margin-right: 100px;

    @media (max-width: 992px) {
      margin-right: 0;
    }
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #cecbde;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #cecbde;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #675BB1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #675BB1;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #675BB1;
  }



  @media (max-width: 992px) {
    grid-column: 1/2;
    grid-row: 2/3;
    height: auto;
    column-gap: 0;
    row-gap: 10px;
    grid-template-columns: repeat(5, 300px);
    margin-bottom: 30px;
  }
}

.notFound {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 35px;
  color: #6C5FBC;
  text-align: center;
}



