.review {
  width: 528px;
  background-color: #fff;
  border-radius: 20px;
  padding: 17px 45px;
  display: flex;
  flex-direction: column;
  box-shadow: 6px 5px 16px 15px #d2d2d2;

  @media (max-width: 992px) {
    width: 100%;
    padding: 20px;
  }
}

.header {
  display: flex;
}

.image {
  transform: translate(-2px, -2px);
  border-radius: 50%;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  padding-top: 4px;

  @media (max-width: 992px) {
    justify-content: center;
  }
}

.name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #030314;

  @media (max-width: 992px) {
    font-size: 16px;
  }
}

.time {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
  color: #5e5d5d;
  letter-spacing: 1px;
}

.quotes {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;

  @media (max-width: 992px) {
    display: none;
  }
}

