.quality {
  width: 100%;
}

.container {
  margin: 0 80px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.screen {
  width: 1fr;
}

.description {
  width: 1fr;
  display: flex;
  flex-direction: column;
}