.visualization {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.title {
  display: none;

  @media (max-width: 992px) {
    display: block;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #6C5FBC;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.imageWrapper {
  position: absolute;
  left: 126px;
  top: 31px;

  &::before {
    position: absolute;
    border-radius: 50%;
    background-color: #6C5FBC;
    width: 420px;
    height: 420px;
    content: '';
    left: 25px;
    top: -10px;
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 45px;
    left: 401px;
    content: '';
    width: 101px;
    height: 98px;
    background-image: url("../../../assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.image {
  position: absolute;
  z-index: 1;
}

.orderWrapper {
  position: absolute;
  top: -40px;
  right: 42px;
  z-index: 2;

  &::after {
    position: absolute;
    top: -31px;
    right: -43px;
    content: '';
    width: 42px;
    height: 28px;
    background-image: url("../../../assets/images/Illustration.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 88px;
    box-shadow: none;
  }
}

.graph {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -76px;
  left: 47px;
  width: 207px;
  height: 205px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 16px 4px 20px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;

  &::before {
    position: absolute;
    bottom: -36px;
    left: -35px;
    content: '';
    width: 39px;
    height: 37px;
    background-image: url("../../../assets/images/illustration2.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media (max-width: 992px) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 2px 5px 4px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
  }
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
}

.wrapper {
  padding-top: 30px;
}


.lines {
  position: absolute;
  top: 89px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #6c5fbc;
  border-bottom: 1px solid #6c5fbc;
  opacity: 0.1;

  &:before {
    position: absolute;
    content: '';
    top: 25px;
    width: 100%;
    height: 25px;
    border-top: 1px solid #6C5FBC;
  }
}

.zoomWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 31px;
}