.intro {
  width: 100%;
}

.container {
  margin-left: 97px;
  margin-right: 58px;
  padding-top: 118px;
  padding-bottom: 85px;
  display: flex;
  @media (max-width: 992px) {
    margin: 0 20px;
    padding-top: 15px;
    flex-direction: column;
  }
}