.shortReview {
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 48px;
  display: flex;
  flex-direction: column;
  margin: 20px 46px 20px 20px;
  height: 100px;
  scroll-snap-align: center;
  box-shadow: 6px 5px 18px 4px #d2d2d2;
  &:last-child {
    margin-right: 0;
  }

  p {
    padding-top: 14px;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }

  @media (max-width: 992px) {
    width: auto;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 3px 2px 10px 10px #d2d2d2;
    height: 100px;
    &:last-child {
      margin-right: 0;
    }
  }
}

