.shortReview {
  width: 529px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 48px;
  display: flex;
  flex-direction: column;
  margin-right: 46px;
  box-shadow: 6px 5px 16px 15px #d2d2d2;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }

  p {
    padding-top: 14px;
    padding-bottom: 5px;
    letter-spacing: 1px;
  }

  @media (max-width: 992px) {
    width: 250px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 3px 2px 10px 10px #d2d2d2;
  }
}