.dateText {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 7px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #828282;
  margin-right: 14px;
  &:last-child {
    margin-right: 0;
  }
}

.dateTextActive {
  @extend .dateText;
  background-color: #6c5fbc;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}