body {
    width: 100%;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format("ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format("ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format("ttf");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format("ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('./assets/fonts/poppins/Poppins-Italic.ttf') format("ttf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: local('Inter'),
    url('./assets/fonts/inter/Inter-Regular.ttf') format("ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: local('Inter'),
    url('./assets/fonts/inter/Inter-Medium.ttf') format("ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans', sans-serif;
    src:  url('./assets/fonts/public-sans/PublicSans-Bold.ttf') format("ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope', sans-serif;
    src: url('./assets/fonts/manrope/Manrope-Medium.ttf') format("otf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope', sans-serif;
    src: url('./assets/fonts/manrope/Manrope-Bold.ttf') format("ttf");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope', sans-serif;
    src: url('./assets/fonts/manrope/Manrope-ExtraBold.otf') format("ttf");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('./assets/fonts/quicksand/Quicksand-Medium.ttf') format("ttf");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('./assets/fonts/roboto/Roboto-Regular.ttf') format("ttf");
    font-weight: 400;
    font-display: swap;
}