body {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src:  url('./assets/fonts/poppins/Poppins-Regular.ttf') format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf') format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf') format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('./assets/fonts/poppins/Poppins-Italic.ttf') format("ttf");
  font-style: italic;
  font-weight: 400;
}