.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 100px 122px 0;

  @media (max-width: 992px) {
    margin: 0 20px;
  }
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 148%;
  color: #252525;
  margin-bottom: 70px;

  @media (max-width: 992px) {
    margin-bottom: 30px;
    font-size: 25px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
}

.comment {
  background-color: #fff;
  padding: 38px 62px 51px 43px;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
}

.colored {
  color: #6c5fbc;;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 139%;
  color: #252525;
  margin-bottom: 50px;
}

.field {
  width: 100%;
  height: 345px;
  padding: 22px 27px;
  margin-bottom: 30px;
  border: 1px solid #6C5FBC;
  border-radius: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #333;
  &::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #b6b6b6;
  }

}
.submit {
  width: 500px;
  height: 76px;
  background-color: #6C5FBC;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #f9f9f9;
  border: none;
  transition: background-color 0.2s ease-in-out;
  margin-right: 50px;

  &:hover {
    background-color: #907fee;
  }

  &:active {
    background-color: #5C4EAE;
  }

  &:disabled {
    background-color: #c5b9ff;
  }
}

.commentFooter {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.error {
  color: #f65656;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 20px;
}