.linkToSinglePost {
  text-decoration: none;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 280px;
  padding: 26px 24px 26px 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 47px 0 rgba(197, 197, 197, 0.25);
  overflow: hidden;

  @media (max-width: 992px) {
    height: 200px;
  }

  article {
    overflow: hidden;
  }

  p {
    text-decoration: none;
    flex-grow: 1;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: justify;
    color: #081420;

    @media (max-width: 992px) {
      font-size: 15px;
    }
  }
}

.header {
  width: 100%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 119%;
  color: #252525;
  text-decoration: none;

  @media (max-width: 992px) {
    font-size: 18px;
  }
}

.widgets {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.tagsWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.rateWrapper {
  display: flex;
  @media (max-width: 992px) {
    align-items: center;
  }
}

.rate {
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 133%;
  color: #8e97a6;

  @media (max-width: 992px) {
    font-size: 15px;
    transform: translateY(2px);
  }
}


.infoLeft {
  display: flex;
  flex-direction: column;
}